body {
    background-color: #E8E8E8;
    <!-- background-color:#E7DEC8; -->
    }
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width:10px;
    width: 10%
    }
h1,h3 {
        color: #30475E;
}
h1{
    font-family: Courier;
}
